---
import { User } from 'lucide-react';
import Layout from '@/layouts/Layout.astro';

import { CustomerService } from '@/lib/services/customer';

const { DB } = Astro.locals.runtime.env;

const customerService = new CustomerService(DB);

const customers = await customerService.getAll();

const data = [
  {
    name: 'Customers',
    value: customers.length,
    icon: User,
    href: '/admin/customers'
  }
]
---

<Layout title="Admin">
  <div class="space-y-8">
    <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3 mt-4">
      {data.map((item) => (
        item.href ? (
          <div class="rounded-xl border bg-card text-card-foreground hover:bg-muted shadow transition-colors">
            <a href={item.href}>
              <div class="p-6">
                <div class="flex flex-row items-center justify-between space-y-0 pb-2">
                  <div class="tracking-tight text-sm font-medium">{item.name}</div>
                  <item.icon />
                </div>
                <div class="pt-0">
                  <div class="text-2xl font-bold">{item.value}</div>
                </div>
              </div>
            </a>
          </div>
        ) : (
          <div class="rounded-xl border bg-card text-card-foreground shadow">
            <div class="p-6">
              <div class="flex flex-row items-center justify-between space-y-0 pb-2">
                <div class="tracking-tight text-sm font-medium">{item.name}</div>
                <item.icon />
              </div>
              <div class="pt-0">
                <div class="text-2xl font-bold">{item.value}</div>
              </div>
            </div>
          </div>
        )
      ))}
    </div>
  </div>
</Layout>
